/* Pocket's WatchCartoonsOnline Styles */
body {
  background: #222;
}

.hide,
.wrap {
  display: none !important;
}

.header {
  background-color: #444;
}

.header .menu {
  position: relative;
  background-color: transparent;
}

.header select {
  margin: 0;
  padding-right: 2em;
  background-color: transparent;
}

.suggestions {
  position: absolute;
  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-height: 80vh;
  padding: .5em;
  background-color: #333;
  box-shadow: 0 1px 5px;
}

.suggestions a {
  display: block;
  padding: .75em;
}

.suggestions a:hover {
  background: #444;
}

.suggestions p {
  margin: 0;
}

.suggestions p > .searchheading {
  display: none;
}

.suggestions .searchheading {
  display: block;
  color: #ddd;
}

.main {
  background-color: #111;
}

.player .tabs-content {
  text-align: center;
  border: 0;
  background-color: #222;
}

.player .tabs-panel {
  padding-top: 0;
  padding-bottom: 0;
}

.player .tabs {
  border: 0;
  background-color: #444;
}

.card {
  margin: 1em 0;
  padding: 1em;
  background: #333;
}

.card a:visited {
  color: #768893;
}

.card a:visited:hover {
  color: #4e7683;
}

.card h1 {
  font-size: 2em;
}

.card h1 a {
  color: #ccc;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #888;
}

.card ul {
  list-style: none;
}

.card li {
  margin-bottom: .5em;
}
